@import '../../assets/styles/global.scss';

$component: #{$prefix}-popover;

.#{$component} {
  @apply relative;
}

.#{$component}-content {
  @apply bg-color_layout_emphasize_01 text-color_icon_inverse_01 px-spacing_03 py-spacing_02 text-center hidden absolute;
  border-radius: 4px;
}

.#{$prefix}-caret {
  position: absolute;
  display: none;
}

// top
.#{$component}-top .#{$component}-content {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 2px));
}

.#{$component}-top-left .#{$component}-content {
  top: 0;
  left: 0;
  transform: translate(0, calc(-100% - 2px));
}

.#{$component}-top-right .#{$component}-content {
  top: 0;
  right: 0;
  transform: translate(0, calc(-100% - 2px));
}

// bottom
.#{$component}-bottom .#{$component}-content {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% + 2px));
}

.#{$component}-bottom-left .#{$component}-content {
  left: 0;
  bottom: 0;
  transform: translate(0, calc(100% + 2px));
}

.#{$component}-bottom-right .#{$component}-content {
  right: 0;
  bottom: 0;
  transform: translate(0, calc(100% + 2px));
}

// left
.#{$component}-left .#{$component}-content {
  left: 0;
  bottom: 50%;
  transform: translate(calc(-100% - 2px), 50%);
}

// right
.#{$component}-right .#{$component}-content {
  right: 0;
  bottom: 50%;
  transform: translate(calc(100% + 2px), 50%);
}

.#{$component}:focus-within .#{$component}-content {
  @apply block;
}

.#{$component}:hover .#{$component}-content {
  @apply block;
}
