@import '../../assets/styles/global.scss';

$component: #{$prefix}-dropdown;

$icon-w-md: 16px;
$icon-h-md: 16px;
$icon-mr-md: 8px;
$icon-w-lg: 20px;
$icon-h-lg: 20px;
$icon-mr-lg: 12px;

// dropdown menu icon 스타일
@mixin dropdown-menu-icon($width, $height, $margin-right) {
  .#{$component}-menu-icon {
    width: $width;
    height: $height;
    margin-right: $margin-right;

    svg {
      width: $width;
      height: $height;
    }
  }
}

// dropdown menu 공통 스타일
@mixin dropdown-menu-common {
  @apply cursor-pointer;
  display: flex;

  &:hover {
    @apply bg-color_hover_primary;
  }
  &:active {
    @apply bg-color_active_primary;
  }
}

// dropdown menu md size 스타일 (single, multi)
@mixin dropdown-menu-md {
  width: 136px;
  border-radius: 4px;

  @include dropdown-menu-icon($icon-w-md, $icon-h-md, $icon-mr-md);
}

// dropdown menu lg size 스타일 (single, multi)
@mixin dropdown-menu-lg {
  width: 152px;
  border-radius: 4px;

  @include dropdown-menu-icon($icon-w-lg, $icon-h-lg, $icon-mr-lg);
}

.#{$component} {
  @apply p-spacing_02 border-color_layout_04 shadow-shadow_v2;
}

.#{$component}-menu {
  @include dropdown-menu-common;
}

.#{$component}-multiLine-menu {
  @include dropdown-menu-common;
  flex-direction: column;
}

.#{$component}-menu-term {
  @apply text-color_text_01;

  display: flex;
  align-items: center;
}

.#{$component}-menu-desc {
  @apply text-color_text_04;

  margin-top: 4px;
}

// By Dropdown Size
.#{$component}-md {
  width: 144px;
  border-radius: 6px;
  font-size: 14px;

  .#{$component}-menu {
    @include dropdown-menu-md;
    @apply h-size_16 px-spacing_06;
  }

  .#{$component}-multiLine-menu {
    @include dropdown-menu-md;
    @apply px-spacing_06 py-spacing_03;

    .icon-space {
      margin-left: $icon-w-md + $icon-mr-md;
    }
  }
}

.#{$component}-lg {
  width: 160px;
  border-radius: 8px;
  font-size: 16px;

  .#{$component}-menu {
    @include dropdown-menu-lg;
    @apply h-size_20 px-spacing_06;
  }

  .#{$component}-multiLine-menu {
    @include dropdown-menu-lg;
    @apply px-spacing_06 py-spacing_04;

    .icon-space {
      margin-left: $icon-w-lg + $icon-mr-lg;
    }
  }
}

// By Dropdown Item Type
.#{$component}-menu-danger {
  .#{$component}-menu-term {
    @apply text-color_text_danger;
  }

  svg {
    @apply fill-color_icon_danger;
  }
}

// By Dropdown Item Disabled
.#{$component}-menu-disabled {
  @apply cursor-not-allowed;

  &:hover,
  &:active {
    @apply bg-transparent;
  }

  .#{$component}-menu-term {
    @apply text-color_text_disabled;
  }
  .#{$component}-menu-desc {
    @apply text-color_text_disabled;
  }
  svg {
    @apply fill-color_icon_disabled;
  }
}
