// reference https://github.com/twbs/bootstrap/tree/main/scss

// Colors

$lw_blue10: #ebf3fe !default;
$lw_blue20: #d4e4fd !default;
$lw_blue30: #a3c6fa !default;
$lw_blue40: #6ea6f7 !default;
$lw_blue50: #3481f4 !default;
$lw_blue60: #0d66e7 !default;
$lw_blue70: #094cae !default;
$lw_blue80: #07377e !default;
$lw_blue90: #05285c !default;
$lw_white: #ffffff !default;
$lw_grey10: #f6f7f9 !default;
$lw_grey20: #eaedf0 !default;
$lw_grey30: #dcdfe5 !default;
$lw_grey40: #cbd0d8 !default;
$lw_grey50: #b0bac4 !default;
$lw_grey60: #8d98a5 !default;
$lw_grey70: #6c7a89 !default;
$lw_grey80: #535e6a !default;
$lw_grey90: #3b424a !default;
$lw_grey100: #24292d !default;
$lw_red50: #ff4c33 !default;
$lw_red60: #e81f02 !default;
$lw_red90: #4d0900 !default;
$lw_green50: #0cb639 !default;
$lw_green60: #087d27 !default;
$lw_green90: #013c12 !default;
$lw_highlight: rgba(255, 240, 0, 0.24) !default;
$lw_dimmed_overlay: rgba(36, 41, 45, 0.34) !default;
$lw_active_overlay: rgba(36, 41, 45, 0.12) !default;
$lw_hover_overlay: rgba(36, 41, 45, 0.08) !default;
$lw_shadow_01: rgba(36, 41, 45, 0.28) !default;
$lw_shadow_02: rgba(36, 41, 45, 0.24) !default;

$color_background: $lw_white !default;
$color_secondary_background: $lw_grey10 !default;

$color_primary_element: $lw_blue50 !default;
$color_secondary_element: $lw_blue90 !default;

$color_layout_01: $lw_white !default;
$color_layout_02: $lw_grey10 !default;
$color_layout_03: $lw_grey20 !default;
$color_layout_04: $lw_grey40 !default;
$color_layout_05: $lw_grey30 !default;

$color_layout_emphasize_01: $lw_grey70 !default;
$color_layout_emphasize_02: $lw_grey80 !default;
$color_layout_emphasize_03: $lw_grey90 !default;

$color_danger: $lw_red50 !default;
$color_safe: $lw_green50 !default;

$color_hover_primary: $lw_hover_overlay !default;
$color_hover_tertiary_button: $lw_blue50 !default;
$color_hover_danger_tertiary_button: $lw_red50 !default;

$color_focus_primary: $lw_blue70 !default;
$color_focus_accent: $lw_blue50 !default;
$color_focus_secondary: $lw_grey70 !default;
$color_focus_error: $lw_red50 !default;

$color_active_primary: $lw_active_overlay !default;
$color_active_tertiary_button: $lw_blue60 !default;
$color_active_danger_tertiary_button: $lw_red60 !default;

$color_disabled_01: $lw_grey20 !default;
$color_disabled_02: $lw_grey50 !default;

$color_shadow_01: $lw_shadow_01 !default;
$color_shadow_02: $lw_shadow_02 !default;
$color_skeleton_01: $lw_grey20 !default;
$color_highlight_01: $lw_highlight !default;
$color_dimmed_overlay: $lw_dimmed_overlay !default;

$color_text_01: $lw_grey100 !default;
$color_text_02: $lw_grey90 !default;
$color_text_03: $lw_grey80 !default;
$color_text_04: $lw_grey70 !default;
$color_text_05: $lw_grey60 !default;
$color_text_error: $lw_red60 !default;
$color_text_safe: $lw_green60 !default;
$color_text_info: $lw_blue60 !default;
$color_text_accent: $lw_blue50 !default;
$color_text_danger: $lw_red50 !default;
$color_text_inverse: $lw_white !default;
$color_text_disabled: $lw_grey50 !default;

$color_icon_01: $lw_grey100 !default;
$color_icon_02: $lw_grey90 !default;
$color_icon_03: $lw_grey80 !default;
$color_icon_04: $lw_grey70 !default;
$color_icon_danger: $lw_red50 !default;
$color_icon_safe: $lw_green50 !default;
$color_icon_accent: $lw_blue50 !default;
$color_icon_inverse_01: $lw_white !default;
$color_icon_inverse_02: $lw_grey40 !default;
$color_icon_disabled: $lw_grey50 !default;

$color_button_primary: $lw_blue50 !default;
$color_button_secondary: $lw_grey30 !default;
$color_button_tertiary: $lw_blue50 !default;
$color_button_disabled: $lw_grey20 !default;
$color_button_danger: $lw_red50 !default;

$color_field_01: $lw_white !default;
$color_field_disabled: $lw_grey20 !default;

// Chart
$lw_sea10: #f2f6fd !default;
$lw_sea50: #e0eafa !default;
$lw_sea100: #c6d7f6 !default;
$lw_sea200: #a5c0ee !default;
$lw_sea300: #7da4e8 !default;
$lw_sea400: #5a88d8 !default;
$lw_sea500: #366cc9 !default;
$lw_sea600: #27519b !default;
$lw_sea700: #1a3970 !default;
$lw_sea800: #0f2242 !default;
$lw_teal10: #edf7f8 !default;
$lw_teal50: #dceeef !default;
$lw_teal100: #b9dedf !default;
$lw_teal200: #92ccce !default;
$lw_teal300: #62b4b7 !default;
$lw_teal400: #429b9e !default;
$lw_teal500: #297c7f !default;
$lw_teal600: #176063 !default;
$lw_teal700: #0f4143 !default;
$lw_teal800: #08292b !default;
$lw_moss10: #edf8ef !default;
$lw_moss50: #dbf0de !default;
$lw_moss100: #bbe2c2 !default;
$lw_moss200: #99d1a3 !default;
$lw_moss300: #6cbc79 !default;
$lw_moss400: #44ab56 !default;
$lw_moss500: #298939 !default;
$lw_moss600: #1b6928 !default;
$lw_moss700: #114d1b !default;
$lw_moss800: #092f10 !default;
$lw_rose10: #fcf3f3 !default;
$lw_rose50: #f9e3e1 !default;
$lw_rose100: #f5c4c2 !default;
$lw_rose200: #f3a4a0 !default;
$lw_rose300: #ee807c !default;
$lw_rose400: #e15d56 !default;
$lw_rose500: #c53b34 !default;
$lw_rose600: #992f29 !default;
$lw_rose700: #6c221e !default;
$lw_rose800: #401412 !default;
$lw_gold10: #fef5e7 !default;
$lw_gold50: #fce8ca !default;
$lw_gold100: #f9ce90 !default;
$lw_gold200: #f5b55c !default;
$lw_gold300: #f09814 !default;
$lw_gold400: #c07a11 !default;
$lw_gold500: #9c6511 !default;
$lw_gold600: #764d0f !default;
$lw_gold700: #56380b !default;
$lw_gold800: #312007 !default;
$lw_butter10: #fef7d7 !default;
$lw_butter50: #fbeb98 !default;
$lw_butter100: #f8dd5d !default;
$lw_butter200: #f5d019 !default;
$lw_butter300: #d7b509 !default;
$lw_butter400: #af9308 !default;
$lw_butter500: #867109 !default;
$lw_butter600: #605106 !default;
$lw_butter700: #453a03 !default;
$lw_butter800: #2c2502 !default;
$lw_berry10: #f9f4fb !default;
$lw_berry50: #f3e3f7 !default;
$lw_berry100: #e8ccef !default;
$lw_berry200: #d7aae4 !default;
$lw_berry300: #c484d7 !default;
$lw_berry400: #ad64c3 !default;
$lw_berry500: #9043a8 !default;
$lw_berry600: #702d85 !default;
$lw_berry700: #50205f !default;
$lw_berry800: #2d1335 !default;
$lw_tulip10: #faf0f3 !default;
$lw_tulip50: #f5dbe3 !default;
$lw_tulip100: #f0c2d0 !default;
$lw_tulip200: #e99fb6 !default;
$lw_tulip300: #df7796 !default;
$lw_tulip400: #cc5b7d !default;
$lw_tulip500: #b23e61 !default;
$lw_tulip600: #892d48 !default;
$lw_tulip700: #601f33 !default;
$lw_tulip800: #3f1320 !default;
$lw_bluegrey10: #f3f4f6 !default;
$lw_bluegrey50: #e7e8ef !default;
$lw_bluegrey100: #d3d6de !default;
$lw_bluegrey200: #bac0cc !default;
$lw_bluegrey300: #9ea2ad !default;
$lw_bluegrey400: #858994 !default;
$lw_bluegrey500: #676b74 !default;
$lw_bluegrey600: #4e515a !default;
$lw_bluegrey700: #363840 !default;
$lw_bluegrey800: #1e2024 !default;
$lw_red_hover: rgba(255, 41, 10, 0.08) !default;
$lw_grey_hover: rgba(41, 46, 51, 0.06) !default;
$lw_highlight_hover: rgba(255, 240, 0, 0.14) !default;

// Space

$spacing_00: 0px !default;
$spacing_01: 2px !default;
$spacing_02: 4px !default;
$spacing_03: 6px !default;
$spacing_04: 8px !default;
$spacing_06: 12px !default;
$spacing_08: 16px !default;
$spacing_10: 20px !default;
$spacing_12: 24px !default;
$spacing_14: 28px !default;
$spacing_16: 32px !default;
$spacing_18: 36px !default;
$spacing_20: 40px !default;
$spacing_22: 44px !default;
$spacing_24: 48px !default;
$spacing_26: 52px !default;
$spacing_28: 56px !default;
$spacing_30: 60px !default;
$spacing_32: 64px !default;
$spacing_34: 68px !default;
$spacing_36: 72px !default;
$spacing_40: 80px !default;
$spacing_44: 88px !default;
$spacing_48: 96px !default;
$spacing_56: 112px !default;

$spacing_r00: 0rem !default;
$spacing_r01: 0.125rem !default;
$spacing_r02: 0.25rem !default;
$spacing_r03: 0.375rem !default;
$spacing_r04: 0.5rem !default;
$spacing_r06: 0.75rem !default;
$spacing_r08: 1rem !default;
$spacing_r10: 1.25rem !default;
$spacing_r12: 1.5rem !default;
$spacing_r14: 1.75rem !default;
$spacing_r16: 2rem !default;
$spacing_r18: 2.25rem !default;
$spacing_r20: 2.5rem !default;
$spacing_r22: 2.75rem !default;
$spacing_r24: 3rem !default;
$spacing_r26: 3.25rem !default;
$spacing_r28: 3.5rem !default;
$spacing_r30: 3.75rem !default;
$spacing_r32: 4rem !default;
$spacing_r34: 4.25rem !default;
$spacing_r36: 4.5rem !default;
$spacing_r40: 5rem !default;
$spacing_r44: 5.5rem !default;
$spacing_r48: 6rem !default;
$spacing_r56: 7rem !default;

// Size
$size_00: 0px !default;
$size_04: 8px !default;
$size_08: 16px !default;
$size_10: 20px !default;
$size_12: 24px !default;
$size_16: 32px !default;
$size_20: 40px !default;
$size_24: 48px !default;
$size_28: 56px !default;
$size_32: 64px !default;
$size_36: 72px !default;
$size_40: 80px !default;
$size_44: 88px !default;
$size_48: 96px !default;

$size_r00: 0rem !default;
$size_r04: 0.5rem !default;
$size_r08: 1rem !default;
$size_r10: 1.25rem !default;
$size_r12: 1.5rem !default;
$size_r16: 2rem !default;
$size_r20: 2.5rem !default;
$size_r24: 3rem !default;
$size_r28: 3.5rem !default;
$size_r32: 4rem !default;
$size_r36: 4.5rem !default;
$size_r40: 5rem !default;
$size_r44: 5.5rem !default;
$size_r48: 6rem !default;
$size_r56: 7rem !default;

// Shadow

$shadow_v1: 0 0 4px 0 $lw_shadow_01 !default;
$shadow_v2: 0 1px 8px 0 $lw_shadow_01 !default;
$shadow_v3: 0 2px 14px 0 $lw_shadow_02 !default;
$shadow_v4: 0 3px 24px 0 $lw_shadow_02 !default;
