@import "../../assets/styles/global.scss";

$component: #{$prefix}-button;

.#{$component} {
  @apply cursor-pointer font-bold border-none bg-transparent outline-none;
  transition: background-color 0.2s, color 0.2s ease, border-color 0.2s ease;
  line-height: 1.34em;

  &:hover {
    @apply no-underline;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }

  .#{$component}-starticon {
    @apply ml-0;
  }
  .#{$component}-endicon {
    @apply mr-0
  }
}

// By Sizes
.#{$component}-size-xlg {
  @apply px-7 h-11;
  min-width: 120px;
  border-radius: 8px;
  font-size: 18px;
  svg {
    @apply mx-4 my-0
  }
}
    
.#{$component}-size-lg {
  @apply px-6 h-9;
  min-width: 90px;
  border-radius: 8px;
  font-size: 16px;
  svg {
    @apply mx-4 my-0
  }
}

.#{$component}-size-md {
  @apply px-5 h-8;
  min-width: 80px;
  border-radius: 8px;
  font-size: 14px;
  svg {
    @apply mx-3 my-0
  }
}
    
.#{$component}-size-sm {
  @apply px-4 h-7;
  min-width: 56px;
  border-radius: 6px;
  font-size: 13px;
  svg {
    @apply mx-3 my-0
  }
}

.#{$component}-variant-primary {
  @apply bg-button_primary text-text_inverse ;
  svg {
    @apply fill-background;
  }
  &:hover {
    @apply bg-hover_primary; // 겹치는게 안되네....
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}
    
.#{$component}-variant-primary_line {
  @apply text-button_primary;
  background-color: $white;
  svg {
    fill: $primary_text;
  }
  border: 1px solid $primary;
  &:hover {
    box-shadow: 0 1px 8px 0 $hover_shadow;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}
    
.#{$component}-variant-basic {
  background-color: $secondary;
  color: $secondary_text;
  svg {
    fill: $secondary_text;
  }
  &:hover {
    background-color: $secondary_dark ;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}

.#{$component}-variant-basic_line {
  background-color: $white;
  svg {
    fill: $secondary_text;
  }
  border: 1px solid $secondary_dark;
  &:hover {
    box-shadow: 0 1px 8px 0 $hover_shadow;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}

.#{$component}-variant-primary_light {
  @apply text-button_primary;
  background-color: $white;
  svg {
    fill: $primary;
  }
  &:hover {
    box-shadow: 0 1px 8px 0 $hover_shadow;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}

.#{$component}-variant-basic_light {
  background-color: $white;
  color: $secondary_text;
  svg {
    fill: $secondary_text;
  }
  &:hover {
    box-shadow: 0 1px 8px 0 $hover_shadow;
  }
  &:disabled {
    background-color: $disabled;
    color: $disabled_text;
    border: none;
    box-shadow: none;
  }
}

.#{$component}-block {
  width: 100%;
  min-width: 0px;
}
