@import '../../assets/styles/global.scss';

$component: #{$prefix}-button;

.#{$component} {
  @apply cursor-pointer font-bold outline-none transition duration-200 ease-linear;
  & + & {
    @apply ml-spacing_04;
  }
  &:hover {
    @apply no-underline;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }

  & > .#{$component}-inner {
    @apply inline-flex h-full items-center;
    line-height: 100%;
  }
}

// By Sizes(px)
.#{$component}-xl {
  @apply px-spacing_08 h-size_08;
  min-width: 120px;
  border-radius: 8px;
  font-size: 18px;

  & .#{$component}-lefticon {
    @apply w-icon_md h-icon_md mr-spacing_04;
  }
  & .#{$component}-righticon {
    @apply w-icon_md h-icon_md ml-spacing_04;
  }
}

.#{$component}-lg {
  @apply px-spacing_06 h-size_06;
  min-width: 90px;
  border-radius: 8px;
  font-size: 16px;

  & .#{$component}-lefticon {
    @apply w-icon_md h-icon_md mr-spacing_04;
  }
  & .#{$component}-righticon {
    @apply w-icon_md h-icon_md ml-spacing_04;
  }
}

.#{$component}-md {
  @apply px-spacing_05 h-size_05;
  min-width: 80px;
  &[data-width] {
    min-width: 0px;
  }
  border-radius: 8px;
  font-size: 14px;

  & .#{$component}-lefticon {
    @apply w-icon_sm h-icon_sm mr-spacing_03;
  }
  & .#{$component}-righticon {
    @apply w-icon_sm h-icon_sm ml-spacing_03;
  }
}

.#{$component}-sm {
  @apply px-spacing_04 h-size_04;
  min-width: 56px;
  border-radius: 6px;
  font-size: 13px;

  & + & {
    margin-left: 4px;
  }

  & .#{$component}-lefticon {
    @apply w-icon_xs h-icon_xs mr-spacing_02;
  }
  & .#{$component}-righticon {
    @apply w-icon_xs h-icon_xs ml-spacing_02;
  }
}

// By Sizes(rem)
.#{$component}-responsive-xl {
  @apply h-size_r08;
}

.#{$component}-responsive-lg {
  @apply h-size_r06;
}

.#{$component}-responsive-md {
  @apply h-size_r05;
}

.#{$component}-responsive-sm {
  @apply px-spacing_04 h-size_r04;
}

// By variant
.#{$component}-primary {
  @apply bg-button_primary text-text_inverse;
  svg {
    @apply fill-background;
  }

  &:hover {
    @apply shadow-shadow_hover;
  }

  &:active {
    @apply shadow-shadow_active;
  }

  &:disabled {
    @apply bg-button_disabled text-text_disabled;
    box-shadow: none;
  }
}

.#{$component}-secondary {
  @apply bg-button_secondary text-text01;
  &:hover {
    @apply shadow-shadow_hover;
  }
  &:active {
    @apply shadow-shadow_active;
  }
  &:disabled {
    @apply bg-button_disabled text-text_disabled;
    box-shadow: none;
  }
}

.#{$component}-tertiary {
  @apply text-text_accent border border-button_primary;
  svg {
    @apply fill-primary;
  }
  &:hover {
    @apply bg-hover_tertiary_button text-text_inverse;

    svg {
      @apply fill-background;
    }
  }
  &:active {
    @apply bg-active_tertiary_button border-active_tertiary_button text-text_inverse;

    svg {
      @apply fill-background;
    }
  }
  &:disabled {
    @apply bg-button_disabled text-text_disabled border-none;
    box-shadow: none;
  }
}

.#{$component}-ghost {
  @apply text-text01;
  svg {
    @apply fill-icon01;
  }
  &:hover {
    @apply shadow-shadow_hover;
  }
  &:active {
    @apply shadow-shadow_active;
  }
  &:disabled {
    @apply bg-button_disabled text-text_disabled;
    box-shadow: none;
  }

  &.#{$component}-ghost-important {
    @apply text-text_info;
    svg {
      @apply fill-primary;
    }
  }

  &.#{$component}-ghost-danger {
    @apply text-danger;
    svg {
      @apply fill-danger;
    }
  }
}

.#{$component}-danger_primary {
  @apply bg-danger text-text_inverse;
  svg {
    @apply fill-background;
  }
  &:hover {
    @apply shadow-shadow_hover;
  }
  &:active {
    @apply shadow-shadow_active;
  }
  &:disabled {
    @apply bg-button_disabled text-text_disabled;
    box-shadow: none;
  }
}

.#{$component}-danger_tertiary {
  @apply text-danger border border-danger;
  svg {
    @apply fill-danger;
  }
  &:hover {
    @apply bg-hover_danger_tertiary_button text-text_inverse;

    svg {
      @apply fill-background;
    }
  }
  &:active {
    @apply bg-active_danger_tertiary_button border-active_danger_tertiary_button text-text_inverse;

    svg {
      @apply fill-background;
    }
  }
  &:disabled {
    @apply bg-button_disabled text-text_disabled border-none;
    box-shadow: none;
  }
}

.#{$component}-icon {
  @apply min-w-size_0 p-spacing_0 m-spacing_0 w-size_05;
}
