// javascript -> scss export가 안되어 별도로 선언
$fontColor-data: (
  text01: #24292d,
  // colors.$lw_grey100,
  text02: #3b424a,
  // colors.$lw_grey90,
  text03: #535e6a,
  // colors.$lw_grey80,
  text04: #6c7a89,
  // colors.$lw_grey70,
  text05: #8d98a5,
  // colors.$lw_grey60,
  text_error: #e81f02,
  // colors.$lw_red60,
  text_safe: #087d27,
  //colors.$lw_green60,
  text_info: #0d66e7,
  //colors.$lw_blue60,
  text_accent: #3481f4,
  //colors.$lw_blue50,
  text_inverse: #ffffff,
  //colors.$lw_white,
  text_disabled: #b0bac4,
  //colors.$lw_grey50,
);
