@import '../styles/color/fontColors.scss';

$font_family: 'Spoqa Han Sans Neo';

.font {
  letter-spacing: -0.5px;
  font-family: $font_family;
}

@each $fontSize in (12, 13, 14, 16, 18, 20, 22, 32, 40, 42) {
  .fs#{$fontSize} {
    @extend .font;
    font-size: #{$fontSize}px;
  }
}

@each $colorKey, $colorValue in $fontColor-data {
  .#{$colorKey} {
    @extend .font;
    color: #{$colorValue};
  }
}
