@tailwind base;
@tailwind components;
@tailwind utilities;

@import './color/fontColors.scss';
@import './font/font.scss';
@import './typography/typography.scss';

@import 'variables.scss';
@import 'reset.scss';

button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  letter-spacing: -0.5px;
}

* {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
