$spacing01: 2px;
$spacing02: 4px;
$spacing03: 6px;
$spacing04: 8px;
$spacing05: 12px;
$spacing06: 16px;
$spacing07: 24px;
$spacing08: 32px;
$spacing09: 40px;
$spacing10: 48px;
$spacing11: 56px;
$spacing12: 64px;
$spacing13: 72px;
$spacing14: 80px;
$spacing15: 88px;
$spacing16: 96px;
