@import "color.scss";

// Core Colors
$background: $lw_white;

$secondary_background: $lw_grey10;

$primary_element: $lw_blue50;
$secondary_element: $lw_blue90;

$layout01: $lw_white;
$layout02: $lw_grey10;
$layout03: $lw_grey20;
$layout04: $lw_grey40;
$layout05: $lw_grey30;

$layout_emphasize01: $lw_grey70;
$layout_emphasize02: $lw_grey80;
$layout_emphasize03: $lw_grey90;

$danger: $lw_red50;
$safe: $lw_green50;

// Status Colors
// hover
$hover_primary: $lw_hover_overlay;
$hover_tertiary_button: $lw_blue50;

// focus
$focus_primary: $lw_blue50;
$focus_secondary: $lw_grey70;
$focus_error: $danger;

// active
$active_primary: $lw_active_overlay;
$active_tertiary_button: $lw_blue60;

// disabled
$disabled01: $lw_grey20;
$disabled02: $lw_grey50;

// etc
$skeleton01: $lw_grey20;
$highlight01: $lw_highlight;
$dimmed_overlay: $lw_dimmed_overlay;

// Text
$text01: $lw_grey100;
$text02: $lw_grey90;
$text03: $lw_grey80;
$text04: $lw_grey70;
$text05: $lw_grey60;
$text_error: $lw_red60;
$text_safe: $lw_green60;
$text_info: $lw_blue60;
$text_accent: $primary_element;
$text_inverse: $lw_white;
$text_disabled: $disabled02;

// Icon
$icon01: $lw_grey100;
$icon02: $lw_grey90;
$icon03: $lw_grey80;
$icon04: $lw_grey60;
$icon_error: $danger;
$icon_safe: $safe;
$icon_accent: $primary_element;
$icon_inverse01: $lw_white;
$icon_inverse02: $lw_grey40;
$icon_disabled: $disabled02;

// Button
$button_primary: $primary_element;
$button_secondary: $lw_grey30;
$button_tertiary: $primary_element;
$button_disabled: $disabled01;
$button_danger: $danger;

// Field
$field01: $lw_white;
$field_disabled: $disabled01;
