@import "../../assets/styles/global.scss";

$component: #{$prefix}-checkbox;

.#{$component} {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.#{$component}-img-md {
  width: 30px;
  height: 301px;
}

.#{$component}-img-sm {
  width: 16px;
  height: 16px;
}
