@import "../../assets/styles/global.scss";

$component: #{$prefix}-checkbox;

.#{$component} {
  cursor: pointer;
}

.#{$component}-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.#{$component}-box {
  display: flex;
  vertical-align: middle;
}

.#{$component}-box-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.#{$component}-box-center {
  align-items: center;
  justify-content: center;
}

.#{$component}-box-end {
  align-items: flex-end;
  justify-content: flex-end;
}
